body {
  background: linear-gradient(#314E3C, #DBE5DF, #45A16B, #DE8650, #45A16B, #DBE5DF, #638771); 
  height: 100%; 
}

h2 {
  spacing: center; 
  color: black;
  margin-left:5em;
  margin-right: 5em;
}

button {
  margin-left: 3em;
  margin-right: 3em;
  padding: 20px; 
  color: black; 
  cursor: pointer;
  background-color: white;
}

button:hover, button:focus {
  background-color: yellow;
}

