body {
  background: linear-gradient(#314E3C, #DBE5DF, #45A16B, #DE8650, #45A16B, #DBE5DF, #638771); 
  height: 100%; 
}

h1 {
  spacing: center; 
  color: black;
  margin-left:22em;
  margin-right: 5em;
}

h2 { 
  color: black;
  padding: 5px;
}

button {
  margin-left: 3em;
  margin-right: 3em;
  border-radius: 10%;
  padding: 20px; 
  color: green; 
  cursor: pointer;
  background-color: lightgreen;
}

button:hover, button:focus {
  background-color: #B9A77E;
}

btn-button {
  margin-left: 4em;
  margin-right: 4em;
  border-radius: 12%;
  padding: 25px; 
  color: black; 
  cursor: pointer;
  background-color: antiquewhite;
}

.roll-front {
  width: 500px; 
  height: 200px;
  margin: 30px; 
  border: 3px solid red; 
}